.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr;
}

.cards .cards-card-body {
  margin: 16px;
  text-align: center;
  text-transform: uppercase;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.cards > ul > li a .cards-card-body p {
  color: #000;
  font-weight: 700;
}

.cards > ul > li a:hover,
.cards > ul > li a:hover .cards-card-body p{
  color: var(--button-primary-color)
}

.cards > ul > li a:hover img {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  transform: scale(1.1);
}

.cards .cards-card-body a:hover,
.cards .cards-card-body a.button:hover {
  color: var(--button-primary-color);
  text-decoration: underline;
}

@media (width >= 900px) {
  .cards > ul {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    /* grid-auto-rows: 1fr; */
  }
}