.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns h3 {
  line-height: 1.38;
  letter-spacing: normal;
  margin-bottom: 12px !important;
}

.columns h3, .columns p {
  padding: 0 20% 0 14%;
}

@media (min-width: 992px) {
  .columns h3 {
      font-size: 2.25em !important;
  }
}

.columns-bkgd-black {
  background-color: #000;
  color: #fff;
}

.columns-bkgd-white {
  background-color: #fff;
  color: #000;
}
